In [1]:
#19.3.4 Span the Gap Using Standardization

#Rmk: Scikit-learn’s StandardScaler module standardizes
#numerical data such that a variable is rescaled to a mean of
#0 and standard deviation of 1.

In [2]:
# Import our dependencies
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Read in our dataset
hr_df = pd.read_csv("hr_dataset.csv")
hr_df.head()

   Satisfaction_Level  Num_Projects  Time_Spent  Num_Promotions
0                0.30             1         253               2
1                0.25             1         200               0
2                0.90             4        2880               5
3                0.65             3        1450               3
4                0.50             2         785               2

In [3]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [4]:
# Fit the StandardScaler
scaler.fit(hr_df)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [5]:
# Scale the data
scaled_data = scaler.transform(hr_df)

In [6]:
# Create a DataFrame with the scaled data
transformed_scaled_data = pd.DataFrame(scaled_data, columns=hr_df.columns)
transformed_scaled_data.head()

   Satisfaction_Level  Num_Projects  Time_Spent  Num_Promotions
0           -1.303615     -1.162476   -1.049481       -0.558656
1           -1.512945     -1.162476   -1.094603       -1.804887
2            1.208335      0.860233    1.187080        1.310692
3            0.161689      0.185996   -0.030385        0.064460
4           -0.466299     -0.488240   -0.596549       -0.558656

In [7]:
#NOTE: a basic neural network is designed such that
#the input values are evaluated only once before
#they are used in a classification or regression equation

In [8]:
#LIMITATIONS OF **BASIC** NEURAL NETWORKS

#1. A basic neural network with many neurons will require
    #more training data than other comparable statistics and
    #machine learning models to produce an adequate model.
    
#2. Basic neural networks struggle to interpret complex nonlinear
    #numerical data, or data with many confounding factors that
    #have hidden effects on more than one variable.
    
#3. Basic neural networks are incapable of analyzing image datasets
    #without severe data preprocessing.

In [9]:
#Questions to think about:

#What about this dataset makes it complex? Is it a variable?
#Is it the distribution of values? Is it the size of the dataset?

#Which variables should I investigate prior to implementing my model?
#What does the distribution look like? Hint: Use
#Pandas’ Series.plot.density() method to find out.

#What outcome am I looking for from the model? Which activation
#function should I use to get my desired outcome?

#What is my accuracy cutoff? In other words, what percent
#testing accuracy must my model exceed?

In [10]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [11]:
#encode all numerical data
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [12]:
#Now that we have our variable names separated,
#we can start to preprocess our data starting with
#the one-hot encoding of the categorical data.


# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [13]:
#According to the nunique method, none of the categorical
#variables have more than 10 unique values, which means
#we’re ready to encode.

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [15]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [ ]:
#Next we must split our training and testing data, then
#standardize our numerical variables using Scikit-learn’s
#StandardScaler module.

In [16]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [17]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
#----FRAMEWORK----
#1. For our input layer, we must add the number of input
    #features equal to the number of variables in our feature DataFrame.
    
#2. In our hidden layers, our deep learning model structure will
    #be slightly different—we’ll add two hidden layers with only
    #a few neurons in each layer. To create the second hidden layer,
    #we’ll add another Keras Dense class while defining our model.
    #All of our hidden layers will use the relu activation function
    #to identify nonlinear characteristics from the input values.
    
#3. In the output layer, we’ll use the same parameters from our
    #basic neural network including the sigmoid activation function.
    #The sigmoid activation function will help us predict the
    #probability that an employee is at risk for attrition.

In [19]:
#We MUST do this to create our deep learning model.
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [21]:
#If there are eight neurons in the first layer, and five
#neurons in the second layer, how many weight parameters
#exist in the second layer?


#ANS:  eight times five equals 40 parameters, plus five parameters
#for the bias terms, giving us a total of 45 parameters.

In [22]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
#19.4.5 Real Data, Real Practice - Train & Evaluate the Model

# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 815us/step - loss: 805.1348 - accuracy: 0.1715
Epoch 2/100
35/35 [==============================] - 0s 1ms/step - loss: 245.4240 - accuracy: 0.2196
Epoch 3/100
35/35 [==============================] - 0s 840us/step - loss: 90.1517 - accuracy: 0.4201
Epoch 4/100
35/35 [==============================] - 0s 811us/step - loss: 36.7030 - accuracy: 0.6270
Epoch 5/100
35/35 [==============================] - 0s 774us/step - loss: 20.5396 - accuracy: 0.7586
Epoch 6/100
35/35 [==============================] - 0s 752us/step - loss: 15.4533 - accuracy: 0.7595
Epoch 7/100
35/35 [==============================] - 0s 845us/step - loss: 12.2727 - accuracy: 0.7096
Epoch 8/100
35/35 [==============================] - 0s 776us/step - loss: 10.1718 - accuracy: 0.7114
Epoch 9/100
35/35 [==============================] - 0s 761us/step - loss: 8.5291 - accuracy: 0.7495
Epoch 10/100
35/35 [==============================] - 0s 741us/step - loss: 7.1629 - accuracy: 0.7495
Epoch 11/100
35/35 [==============================] - 0s 784us/step - loss: 6.0062 - accuracy: 0.7750
Epoch 12/100
35/35 [==============================] - 0s 802us/step - loss: 5.0034 - accuracy: 0.7278
Epoch 13/100
35/35 [==============================] - 0s 823us/step - loss: 3.3592 - accuracy: 0.7459
Epoch 14/100
35/35 [==============================] - 0s 843us/step - loss: 1.5991 - accuracy: 0.8303
Epoch 15/100
35/35 [==============================] - 0s 853us/step - loss: 0.9813 - accuracy: 0.8303
Epoch 16/100
35/35 [==============================] - 0s 832us/step - loss: 0.7857 - accuracy: 0.8294
Epoch 17/100
35/35 [==============================] - 0s 820us/step - loss: 0.7128 - accuracy: 0.8294
Epoch 18/100
35/35 [==============================] - 0s 793us/step - loss: 0.6705 - accuracy: 0.8294
Epoch 19/100
35/35 [==============================] - 0s 793us/step - loss: 0.6290 - accuracy: 0.8294
Epoch 20/100
35/35 [==============================] - 0s 759us/step - loss: 0.5967 - accuracy: 0.8294
Epoch 21/100
35/35 [==============================] - 0s 842us/step - loss: 0.5762 - accuracy: 0.8294
Epoch 22/100
35/35 [==============================] - 0s 808us/step - loss: 0.5606 - accuracy: 0.8294
Epoch 23/100
35/35 [==============================] - 0s 853us/step - loss: 0.5476 - accuracy: 0.8294
Epoch 24/100
35/35 [==============================] - 0s 797us/step - loss: 0.5474 - accuracy: 0.8294
Epoch 25/100
35/35 [==============================] - 0s 940us/step - loss: 0.5423 - accuracy: 0.8294
Epoch 26/100
35/35 [==============================] - 0s 807us/step - loss: 0.5392 - accuracy: 0.8303
Epoch 27/100
35/35 [==============================] - 0s 868us/step - loss: 0.5391 - accuracy: 0.8303
Epoch 28/100
35/35 [==============================] - 0s 811us/step - loss: 0.5365 - accuracy: 0.8303
Epoch 29/100
35/35 [==============================] - 0s 829us/step - loss: 0.5339 - accuracy: 0.8303
Epoch 30/100
35/35 [==============================] - 0s 808us/step - loss: 0.5342 - accuracy: 0.8303
Epoch 31/100
35/35 [==============================] - 0s 781us/step - loss: 0.5365 - accuracy: 0.8303
Epoch 32/100
35/35 [==============================] - 0s 767us/step - loss: 0.5269 - accuracy: 0.8303
Epoch 33/100
35/35 [==============================] - 0s 714us/step - loss: 0.5290 - accuracy: 0.8303
Epoch 34/100
35/35 [==============================] - 0s 851us/step - loss: 0.5315 - accuracy: 0.8303
Epoch 35/100
35/35 [==============================] - 0s 807us/step - loss: 0.5273 - accuracy: 0.8303
Epoch 36/100
35/35 [==============================] - 0s 963us/step - loss: 0.5253 - accuracy: 0.8303
Epoch 37/100
35/35 [==============================] - 0s 829us/step - loss: 0.5202 - accuracy: 0.8303
Epoch 38/100
35/35 [==============================] - 0s 785us/step - loss: 0.5219 - accuracy: 0.8303
Epoch 39/100
35/35 [==============================] - 0s 790us/step - loss: 0.5168 - accuracy: 0.8303
Epoch 40/100
35/35 [==============================] - 0s 772us/step - loss: 0.5288 - accuracy: 0.8303
Epoch 41/100
35/35 [==============================] - 0s 793us/step - loss: 0.5228 - accuracy: 0.8303
Epoch 42/100
35/35 [==============================] - 0s 770us/step - loss: 0.5167 - accuracy: 0.8303
Epoch 43/100
35/35 [==============================] - 0s 778us/step - loss: 0.5264 - accuracy: 0.8303
Epoch 44/100
35/35 [==============================] - 0s 834us/step - loss: 0.5124 - accuracy: 0.8303
Epoch 45/100
35/35 [==============================] - 0s 798us/step - loss: 0.5084 - accuracy: 0.8303
Epoch 46/100
35/35 [==============================] - 0s 774us/step - loss: 0.5147 - accuracy: 0.8303
Epoch 47/100
35/35 [==============================] - 0s 796us/step - loss: 0.5224 - accuracy: 0.8303
Epoch 48/100
35/35 [==============================] - 0s 826us/step - loss: 0.5159 - accuracy: 0.8303
Epoch 49/100
35/35 [==============================] - 0s 825us/step - loss: 0.5020 - accuracy: 0.8303
Epoch 50/100
35/35 [==============================] - 0s 830us/step - loss: 0.4988 - accuracy: 0.8303
Epoch 51/100
35/35 [==============================] - 0s 783us/step - loss: 0.5066 - accuracy: 0.8303
Epoch 52/100
35/35 [==============================] - 0s 730us/step - loss: 0.5046 - accuracy: 0.8303
Epoch 53/100
35/35 [==============================] - 0s 771us/step - loss: 0.5179 - accuracy: 0.8212
Epoch 54/100
35/35 [==============================] - 0s 745us/step - loss: 0.4969 - accuracy: 0.8303
Epoch 55/100
35/35 [==============================] - 0s 777us/step - loss: 0.4989 - accuracy: 0.8303
Epoch 56/100
35/35 [==============================] - 0s 727us/step - loss: 0.5067 - accuracy: 0.8303
Epoch 57/100
35/35 [==============================] - 0s 871us/step - loss: 0.5407 - accuracy: 0.8240
Epoch 58/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5035 - accuracy: 0.8303
Epoch 59/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5164 - accuracy: 0.8249
Epoch 60/100
35/35 [==============================] - 0s 831us/step - loss: 0.5055 - accuracy: 0.8303
Epoch 61/100
35/35 [==============================] - 0s 789us/step - loss: 0.4994 - accuracy: 0.8303
Epoch 62/100
35/35 [==============================] - 0s 858us/step - loss: 0.4953 - accuracy: 0.8303
Epoch 63/100
35/35 [==============================] - 0s 811us/step - loss: 0.4922 - accuracy: 0.8303
Epoch 64/100
35/35 [==============================] - 0s 832us/step - loss: 0.4910 - accuracy: 0.8303
Epoch 65/100
35/35 [==============================] - 0s 863us/step - loss: 0.4866 - accuracy: 0.8303
Epoch 66/100
35/35 [==============================] - 0s 764us/step - loss: 0.4985 - accuracy: 0.8303
Epoch 67/100
35/35 [==============================] - 0s 752us/step - loss: 0.5375 - accuracy: 0.8249
Epoch 68/100
35/35 [==============================] - 0s 792us/step - loss: 0.4970 - accuracy: 0.8303
Epoch 69/100
35/35 [==============================] - 0s 807us/step - loss: 0.4969 - accuracy: 0.8303
Epoch 70/100
35/35 [==============================] - 0s 788us/step - loss: 0.5072 - accuracy: 0.8203
Epoch 71/100
35/35 [==============================] - 0s 816us/step - loss: 0.4985 - accuracy: 0.8258
Epoch 72/100
35/35 [==============================] - 0s 773us/step - loss: 0.5039 - accuracy: 0.8258
Epoch 73/100
35/35 [==============================] - 0s 769us/step - loss: 0.4883 - accuracy: 0.8303
Epoch 74/100
35/35 [==============================] - 0s 818us/step - loss: 0.5217 - accuracy: 0.8194
Epoch 75/100
35/35 [==============================] - 0s 891us/step - loss: 0.5106 - accuracy: 0.8285
Epoch 76/100
35/35 [==============================] - 0s 843us/step - loss: 0.4745 - accuracy: 0.8303
Epoch 77/100
35/35 [==============================] - 0s 819us/step - loss: 0.4784 - accuracy: 0.8303
Epoch 78/100
35/35 [==============================] - 0s 842us/step - loss: 0.5043 - accuracy: 0.8267
Epoch 79/100
35/35 [==============================] - 0s 838us/step - loss: 0.4884 - accuracy: 0.8303
Epoch 80/100
35/35 [==============================] - 0s 885us/step - loss: 0.4924 - accuracy: 0.8303
Epoch 81/100
35/35 [==============================] - 0s 865us/step - loss: 0.4966 - accuracy: 0.8285
Epoch 82/100
35/35 [==============================] - 0s 876us/step - loss: 0.4768 - accuracy: 0.8303
Epoch 83/100
35/35 [==============================] - 0s 797us/step - loss: 0.4994 - accuracy: 0.8285
Epoch 84/100
35/35 [==============================] - 0s 794us/step - loss: 0.5244 - accuracy: 0.8149
Epoch 85/100
35/35 [==============================] - 0s 903us/step - loss: 0.4786 - accuracy: 0.8303
Epoch 86/100
35/35 [==============================] - 0s 787us/step - loss: 0.4782 - accuracy: 0.8303
Epoch 87/100
35/35 [==============================] - 0s 748us/step - loss: 0.4987 - accuracy: 0.8176
Epoch 88/100
35/35 [==============================] - 0s 831us/step - loss: 0.4900 - accuracy: 0.8303
Epoch 89/100
35/35 [==============================] - 0s 841us/step - loss: 0.4959 - accuracy: 0.8294
Epoch 90/100
35/35 [==============================] - 0s 744us/step - loss: 0.4797 - accuracy: 0.8303
Epoch 91/100
35/35 [==============================] - 0s 791us/step - loss: 0.4825 - accuracy: 0.8303
Epoch 92/100
35/35 [==============================] - 0s 774us/step - loss: 0.4836 - accuracy: 0.8303
Epoch 93/100
35/35 [==============================] - 0s 776us/step - loss: 0.4720 - accuracy: 0.8303
Epoch 94/100
35/35 [==============================] - 0s 815us/step - loss: 0.4716 - accuracy: 0.8303
Epoch 95/100
35/35 [==============================] - 0s 778us/step - loss: 0.4866 - accuracy: 0.8303
Epoch 96/100
35/35 [==============================] - 0s 806us/step - loss: 0.4955 - accuracy: 0.8267
Epoch 97/100
35/35 [==============================] - 0s 757us/step - loss: 0.4942 - accuracy: 0.8203
Epoch 98/100
35/35 [==============================] - 0s 754us/step - loss: 0.4970 - accuracy: 0.8285
Epoch 99/100
35/35 [==============================] - 0s 772us/step - loss: 0.4795 - accuracy: 0.8267
Epoch 100/100
35/35 [==============================] - 0s 770us/step - loss: 0.4689 - accuracy: 0.8303

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.4478 - accuracy: 0.8668
Loss: 0.4477708637714386, Accuracy: 0.866847813129425

In [25]:
#the model was able to correctly identify employees who are
#at risk of attrition approximately 87% of the time. Considering
#that our input data included more than 30 different variables
#with more than 1,400 data points, the deep learning model was
#able to produce a fairly reliable classifier.